[submodule "plexe-veins"]
	path = plexe-veins
	url = git@github.com:jericks-umich/plexe-veins.git
[submodule "plexe-sumo"]
	path = plexe-sumo
	url = git@github.com:jericks-umich/plexe-sumo.git
[submodule "commpact-data"]
	path = commpact-data
	url = git@github.com:jericks-umich/commpact-data
